In [2]:
name_set= {"kamal", "smith", "john"}
fruit_set= {"apple", "orange"}

# update nameset
name_set.update(fruit_set)
print(name_set)

animal_set= {"dog"}
print(type(animal_set))

{'orange', 'kamal', 'apple', 'smith', 'john'}
<class 'set'>

In [6]:
# we can also add a list to a set
fruit_set= {"banana", "apple"}
animals_list= ["dog","cat"]

fruit_set.update(animals_list)

# remove item from set
fruit_set.remove("apple")
# print the updated fruit_set
print(fruit_set)

{'dog', 'banana', 'cat'}

In [14]:
new_range= range(1,10,3)
print(new_range[0])
print(new_range[1])
print(new_range[2])
print(type(new_range))

# if we dont set step value the default step value is 1
new_range_2= range(1,10)
print(new_range_2[0])
print(new_range_2[1])
print(new_range_2[2])

# if start value is not set it default gets the value of 0
new_range_3= range(10)
print(new_range_3[0])
print(new_range_3[1])
print(new_range_3[2])

1
4
7
<class 'range'>
1
2
3
0
1
2

In [15]:
new_range_4= range(10, 20, 2)
new_range_list= list(new_range_4)

for i in new_range_list:
    print("value in range", i)

value in range 10
value in range 12
value in range 14
value in range 16
value in range 18

In [ ]:
# dict is orderd and mutable
# duplicate not allowed
user_dict={
    "name":'kamal',
    "age": 30,
    "is_student": False,
    "courses": ["python", "java"],
    "address": {
        "city": "New York",
        "state": "NY"
    }
}

print(type(user_dict))

print(user_dict["address"])
print(user_dict["address"]["city"])

<class 'dict'>
{'city': 'New York', 'state': 'NY'}
New York