In [8]:
print("hello world")

hello world

In [9]:
a = 5
b = 4

print(a + b)

9

In [ ]:
a = 54
print(a * 2)

In [ ]:
a= 20
b=100.5
c="pathum"
d=False
e=True

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [13]:
num = 2.5e12
print(num)

num2= 2
b = float(num2)
print(b)

2500000000000.0
2.0

In [ ]:
# this is a touple and touples are immutable (cant update or add items in touple)
# when touple contains a single value it should have a comma at the end othervise it will be considered as a string
fruits = ("apple",)
print(type(fruits))
print(fruits)
print(len(fruits))

<class 'tuple'>
('apple',)
1

In [12]:
# how to change a value in a touple

name_list = ("pathum", "saman", "kamal")

# convert touple to a list
name_list = list(name_list)

print("name list", name_list)
print(type(name_list))

name_list[1] = "nimal"
name_list = tuple(name_list)
print("name list touple", name_list)

print(type(name_list))

name list ['pathum', 'saman', 'kamal']
<class 'list'>
name list touple ('pathum', 'nimal', 'kamal')
<class 'tuple'>

In [2]:
nested_touple = ((1,2,3), ("a", "b", "c"), (True, False))

print(nested_touple[1][1])
print(nested_touple[2][0])

b
True

In [12]:
# Python sets

fruits_set = {"apple", "orange", "banana"}

print(fruits_set)
print(type(fruits_set))
# sets are unordered and unindexed
# sets do not allow duplicate values
# sets are mutable, but the items in the set must be immutable
fruits_set.add("grapes")
fruits_set.add("wood apple")
print(fruits_set)

# get the length of set
print(len(fruits_set))

{'banana', 'apple', 'orange'}
<class 'set'>
{'wood apple', 'apple', 'banana', 'orange', 'grapes'}
5